@{
    ViewData["Title"] = "Support";
 }
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Indtast E-mail" aria-label="UserEmail" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">example@example.com</span>
        </div>
    </div>

    <br />

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Emne</span>
        </div>
        <input type="text" class="form-control" aria-label="Subject" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Beskrivelse af problem</span>
        </div>
        <textarea class="form-control" aria-label="discription"></textarea>
    </div>
    
    <br />        

    <a class="btn btn-info mt-3">Indsend Besked</a> 