
    <form asp-controller="Post" asp-action="Create" method="post">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Titel</span>
            </div>
            <input type="text" class="form-control" name="title" />
        </div>
        <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text">Indhold</span></div>
            <textarea class="form-control" rows="10" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Opret</button>
    </form>
